.flight-app {
  display: grid;
  margin: 2em;
  grid-row-gap: 1em;
  grid-template-areas: "search-area" "result-area";
}

.search-area {
  grid-area: search-area;
}

.result-area {
  grid-area: result-area;
}

@media (min-width: 1024px) {
  .flight-app {
    margin-top: 2.5em;
    grid-column-gap: 2em;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "search-area" "result-area";
  }
}
