.App {
  display: grid;
  margin: 1em;
  grid-row-gap: 1em;
  grid-template-areas: "search-area" "result-area";
}

SearchArea {
  grid-area: search-area;
}

ResultArea {
  grid-area: result-area;
}

@media (min-width: 768px) {
  .App {
    margin: 1em;
    grid-column-gap: 2em;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "search-area" "result-area";
  }
}
